/* Common and reset code here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #4F98A4;
}

/* Custom common class */
.mp-5{
    margin: 5px;
    padding: 5px;
}
.icon{
    width: 35px;
    height: auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.hro{
    border: 1px solid rgba(247, 249, 250, 0.856);
}

/* Navbar section */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-icon{
    width: 20%;
}
.logo{
    /* display: inline-block; */
    float: left;
    padding-right: 5px;
}
.nav-icon-txt{
    /* background-color: red; */
    float: left;
    font-size: 1.5rem;
    font-weight: bolder;
    text-transform: uppercase;  
}
.nav-ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
}
.nav-ul-li {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    font-size: 1.1rem;
    text-transform: uppercase;  
}
.nav-ul-li:first-child{
    padding-left: 0px;
}
.nav-account{
    width: 5%;
}

/* Search section styling */
.search{
    background-color: #82c7d2d1;
    text-align: center;
}
.search-h h1{
    color: whitesmoke;
}
.search-h h2{
    color: rgba(56, 56, 134, 0.824);
}
.search-input{
    background-color: aqua;
}
.search-place{
    width: 300px;
    height: 35px;
    border-radius: 20px;
    padding-left: 15px;
}